{
	"tabWidth": 4,
	"semi": true,
	"singleQuote": false,
	"useTabs": true,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"singleAttributePerLine": false,
	"printWidth": 1000
}
